@model List<BookDTO>
@{
    ViewData["Title"] = "Index";
}


<div>
    <h1>Books</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Pages</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <th scope="row">@book.Id</th>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Pages</td>
                <td>
                    <a asp-action="Update" asp-route-id="@book.Id" class="btn btn-outline-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-outline-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@book.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
       
        
    </tbody>
</table>