@model List<AuthorDTO>
@{
    ViewData["Title"] = "IndexAsync";
}

<div>
    <h1>Authors</h1>
    <p>
        <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Book Id</th>
    

        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <th scope="row">@author.Id</th>
                <td>@author.Name</td>
                <td>@author.Surname</td>
                <td>@foreach( var book in author.Books)
                    {
                        <ul>
                            <li>@book.Name</li>
                        </ul>
                    }
                </td>
                
                <td>
                    <a asp-action="Update" asp-route-id="@author.Id" class="btn btn-outline-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@author.Id" class="btn btn-outline-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@author.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>